@charset "utf-8";

/* CSS Document */
html:not(.touchmode) ::-webkit-scrollbar {
  width: 10px;
}
html:not(.touchmode) ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
html:not(.touchmode) ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px transparent;
}
/* event */
.page_body{}
.page_wrap{min-width:280px;}
.event_contents_wrap{max-width:750px; margin:0 auto;font-family: 'GmarketSans';}

@media (max-width:749px){
  

}

/* popup */
.btn_guide_box{display:inline-block;padding:10px 20px; border:1px solid #ddd; color:#000;font-size:16px;}
.popup_wrap , .modal_wrap{position:fixed;top:0;left:50%;width:750px;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;transform: translateX(-50%);}
.popup_wrap.active,.modal_wrap.active{display:flex;}
.popup_wrap.active.motion_end{}
.popup_wrap.active.motion_end .popup_box_tb_wrap{transform: translateY(0px);opacity:1;}
.popup_wrap.active.motion_end .popup_item{opacity:1;}
.popup_wrap.active.motion_end .popup_full_contents{transform: translateY(0px);opacity:1;}
.popup_wrap.active.motion_end .bg_dim,
.modal_wrap.active.motion_end .bg_dim{opacity:.4;}
.popup_item.modal_type{max-width:540px;}
.popup_wrap.modal_type .popup_title_row{}
.popup_wrap.modal_type .popup_contents_row{}

.popup_full_contents{position:absolute;top:0;left:0;top:0;left:0;width:100%;height:100%;overflow-y:auto; transition:.5s;transform: translateY(-100px);opacity:0;}

.popup_box_tb_wrap{position:absolute;top:0;left:0;top:0;left:0;width:100%;height:100%;overflow-y:auto; transition:.5s;transform: translateY(-100px);opacity:0;}
.popup_box_tb{width:100%;height:100%;table-layout: fixed;display:table;}
.popup_box_td{display:table-cell;vertical-align: middle;padding:30px 0;}

.popup_wrap .bg_dim{display:block;width:750px;height:100%;position:fixed;top:0;left:50%;z-index:0;background:#000;opacity:0;transition:opacity .5s;transform: translateX(-50%);}
.popup_wrap .bg_dim.no_transition{transition:0s;opacity:.6;transform:none;}

.popup_item{
    box-sizing: border-box;z-index:20; max-width:700px;margin:62px auto; max-height:calc(100% - 124px); background:#fff;  position:relative; display:flex; flex-direction: column;
    width:100%;opacity:0;transition:.4s;
}
.popup_item.no_transition{transition:0s;opacity:1;transform:none;}
.popup_title_row{padding:40px 100px 40px 40px;}
.popup_title{font-size:32px;font-weight:500;color:#222222;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:16px;color:#333333;padding:0 40px 40px;}

.popup_item .popup_contents_row + .popup_btn_row.btn_bottom_wrap{margin-top:0}

.popup_item .popup_btn_row.btn_bottom_wrap{margin:40px auto; max-width:70%; width:100%; justify-content: center;}
/* .btn_popup_close{display:inline-block;width:60px;height:60px;position:absolute;top:25px;right:25px;font-size:0;line-height:0;}
.btn_popup_close:before,
.btn_popup_close:after{width:35px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#332d29; margin:-1px 0 0 -17px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_popup_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_popup_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);} */

.popup_card_inner{}
.deco_message_wrap{text-align: center;padding:20px 0 0 0;}
.popup_product2_row{text-align: center;}
.popup_product2_row img{vertical-align: top;}
.popup_coment_row{text-align: center;margin-top:5px;}
.coment_para{color:#373737; font-weight:500; font-size:28px; line-height:1.3; font-family: 'GmarketSans'; letter-spacing: -2px;}
.popup_message_sub_para{font-size:30px; font-weight:500; color :#373737;  font-family: 'GmarketSans'; letter-spacing: -1px;text-align: center; margin-top:10px;}

.popup_multi_product_row{text-align: center;}
.popup_multi_product_row img{vertical-align: top;}
.popup_sub_message_group{text-align: center;padding:25px 25px 0}
.ps_message{font-size:26px; color:#373737;letter-spacing: -1px; line-height:1.3; margin-bottom:15px;}
.ps_message:last-of-type{ margin-bottom:0;}
.ps_message.emp{font-size:28px; font-weight:500;}
.modal_wrap.active.motion_end .modal_box_item{
  opacity: 1;
  transform: translateY(0);
}
.modal_wrap .bg_dim{display:block;width:750px;height:100%;position:fixed;top:0;left:50%;z-index:0;background:#000;opacity:0;transition:opacity .5s;transform: translateX(-50%);}


.modal_box_item {
 box-sizing: border-box; width: 100%; position:relative;overflow:hidden;
 z-index: 20; background: #fff; text-align: center; box-sizing: border-box;
  opacity: 0; transition: 0.4s opacity;
 margin: 0 auto;max-height: 100%; position: relative;
 box-shadow: 4.702px 6.472px 13.44px 0.56px rgba(53, 53, 53, 0.58);
 border-radius: 94px;  transition:.5s;transform: translateY(-100px);opacity:0;
}


.modal_box_tb {
  display: table;width: 100%;height: 100%;
  table-layout: fixed;max-width: 750px;margin: 0 auto;
}

.modal_box_td {
  display: table-cell;vertical-align: middle;padding: 18px;
}

.modal_box_message_row{padding:180px 20px 140px;}
.modal_box_message{color:#002472; font-size:48px; font-weight: 500; line-height:1.5; word-break: keep-all; font-family: 'GmarketSans'; letter-spacing: -2px;}
.modal_box_message strong{font-weight:700; word-break: keep-all;}
.modal_box_message .modal_sub_message{font-size:48px; color:#363636; word-break: keep-all;}


.btn_modal_submit_wrap{text-align:center; padding:0 65px 100px; font-size:0;line-height:0;}
.btn_modal_submit{display:block;}
.btn_modal_submit img{vertical-align: top; max-width:100%; width:100%;}
/* .btn_modal_submit_text{color:#fff; font-size:73px; font-family: 'GmarketSans';} */

.btn_popup_close{position:absolute;top:40px;right:40px;width:60px;height:60px;}
.btn_popup_close:before,
.btn_popup_close:after{width:2px;height:60px;background:#fff;display:block;content:'';position:absolute;top:50%;left:50%;margin:-30px 0 0 -1px;}
.btn_popup_close:before{transform: rotate(45deg);}
.btn_popup_close:after{transform: rotate(-45deg);}

.btn_modal_close{position:absolute;top:40px;right:40px;width:60px;height:60px;}
.btn_modal_close:before,
.btn_modal_close:after{width:2px;height:60px;background:#4d4d4d;display:block;content:'';position:absolute;top:50%;left:50%;margin:-30px 0 0 -1px;}
.btn_modal_close:before{transform: rotate(45deg);}
.btn_modal_close:after{transform: rotate(-45deg);}

.popup_bottom_btn_row{margin-top:30px;}
.btn_popup_bottom{display:flex; justify-content: center; align-items: center; background:#293feb; min-height:114px; text-align: center; box-sizing: border-box;padding:15px;}
.btn_popup_bottom_text{color:#fff; font-size:42px;font-family: 'OneShinhan';}

@media (max-width:750px){
    .popup_item{
        max-width:100%;
    }
    .popup_item.full_type{
        margin:0; max-height:100%; height:100%;
    }
    .popup_wrap , .modal_wrap,
    .modal_wrap .bg_dim,
    .popup_wrap .bg_dim{left:0 !important;width:100%;transform: translateX(0) !important;}
    .popup_title_row{padding:15px 70px 15px 20px;}
    .popup_title{font-size:20px;}
    .popup_contents_row{font-size:14px;padding:10px 20px 30px;}
    .popup_item .popup_btn_row.btn_bottom_wrap{margin:20px; width:auto; max-width: inherit;}
    /* .btn_popup_close{width:50px;height:50px;top:0;right:0;}
    .btn_popup_close:before,
    .btn_popup_close:after{width:20px;height:2px;margin:-1px 0 0 -10px;} */
    .popup_modal_box{padding:50px 20px 30px;}
    .popup_modal_para{font-size:16px;}
    .popup_cont_message{font-size:16px;}
    .popup_cont_emp{font-size:14px;}
    .popup_cont_sub{font-size:14px;}
    .cont_emp_sub{font-size:12px;}

    .popup_box_td{padding:20px 0;}

    /* 
      .modal_box_item {
      box-sizing: border-box; width: 100%; position:relative;overflow:hidden;
      z-index: 20; background: #fff; text-align: center; box-sizing: border-box;
        opacity: 0; transition: 0.4s opacity;
      margin: 0 auto;max-height: 100%; position: relative;
      box-shadow: 4.702px 6.472px 13.44px 0.56px rgba(53, 53, 53, 0.58);
      border-radius: 94px;  transition:.5s;transform: translateY(-100px);opacity:0;
      }
    */
        
    .modal_box_item {
      margin: 0 auto;
      border-radius: 47px;  
    }
    
    .modal_box_message_row{padding:90px 0 70px;}
    .modal_box_message{font-size:24px;}
    .modal_box_message .modal_sub_message{font-size:24px;}
    
    
    .btn_modal_submit_wrap{padding:0 30px 50px;}
    .btn_modal_submit{}
    .btn_modal_submit img{height:68px;width:auto;}
    /* 
      .btn_modal_submit_wrap{text-align:center; padding:0 65px 100px;}
      .btn_modal_submit{display:block;}
      .btn_modal_submit img{vertical-align: top; max-width:100%; width:100%;}
    */

      
  /* .btn_popup_close{top:12px;right:12px;width:20px;height:20px;}
  .btn_popup_close:before,
  .btn_popup_close:after{width:2px;height:20px;margin:-10px 0 0 -1px;} */

      
  .btn_popup_close{top:20px;right:20px;width:30px;height:30px;}
  .btn_popup_close:before,
  .btn_popup_close:after{width:2px;height:30px;margin:-15px 0 0 -1px;}

  .btn_modal_close{top:20px;right:20px;width:30px;height:30px;}
  .btn_modal_close:before,
  .btn_modal_close:after{width:2px;height:30px;margin:-15px 0 0 -1px;}
 
    /* 
    
      
.btn_modal_close{position:absolute;top:40px;right:40px;width:60px;height:60px;}
.btn_modal_close:before,
.btn_modal_close:after{width:2px;height:60px;background:#4d4d4d;display:block;content:'';position:absolute;top:50%;left:50%;margin:-30px 0 0 -1px;}
.btn_modal_close:before{transform: rotate(45deg);}
.btn_modal_close:after{transform: rotate(-45deg);}
    */
}



/* form */
.form_page_wrap{max-width:750px;margin:0 auto;background:#b4010d; padding:32px 24px;}
.form_page_inner{background:#fff; border-radius: 30px;}

.ec_main_wrap{}
.ec_main_para{}
.ec_prize_node{}
.ec_sub_row{}
.ec_sub_para{}
.ec_sub_para br{}

.ec_copy_wrap{ text-align:center;white-space:nowrap;}
.ec_copy_main{font-size:48px; letter-spacing: -1px; font-weight:700; color:#002472;}
.ec_copy_sub{margin-top:55px; line-height:1.2; font-size:42px; letter-spacing: -1px; font-weight: 500; color:#2348aa;}
.ec_copy_else{margin-top:15px; line-height:1.2; font-size:32px; letter-spacing: -1px; font-weight: 400; color:#7b7b7b;}


.ec_form_tb_wrap{margin-top:55px; position:relative; z-index:5;}
.ec_form_tb{width:100%;table-layout: auto;}
.ec_form_tb th,
.ec_form_tb td{padding-bottom:30px; text-align:center;}
.ec_form_tb th{width:1px;padding-right:25px;}
.ec_form_tb tr:last-of-type th,
.ec_form_tb tr:last-of-type td{padding-bottom:0;}
.ec_form_key{font-size:35px; color:#393939;  letter-spacing: -1px; font-weight:500; white-space:nowrap; position:relative; top:2px; display:inline-block;}
input.event_input{height:50px;box-sizing:border-box;width:100%;padding:0 20px 0;font-size:35px; color:#000; appearance: none; border:0; border-bottom:1px solid #d0d0d0;}
.inline_linked_list{display:flex;border-bottom:1px solid #d0d0d0; align-items:center;}
.inline_linked_list input.event_input{border:0;}
.inline_linked_list .combo_box{}
.inline_linked_list > li{flex:1;}
.inline_linked_list > li.has_unit{flex:0; white-space:nowrap;}
.linked_unit{font-size:35px; color:#d0d0d0; display:inline-block; white-space:nowrap; font-weight:300;}


.ec_terms_wrap{margin-top:80px;}
.ec_terms_block{margin-bottom:60px;}
.ec_terms_block:last-of-type{margin-bottom:0;}
.ec_terms_copy{margin:15px 0 0 5px; font-size:30px; color:#a0a0a0; letter-spacing:-2px;}
.ec_terms_title{font-size:30px; text-align:center; color:#565656; font-weight:500; letter-spacing:-2px; margin-bottom:15px;}
.ec_terms_contents{}
.ec_toggle_wrap{}
.ec_toggle_list{}
.ec_toggle_list > li{}
.ec_toggle_list > li:last-of-type{}
.ec_toggle_list > li.active{}
.ec_toggle_list > li.active .ec_tcont{display:block;}
.ec_toggle_list > li.active .ec_tbar .ico{transform:rotate(225deg); top:8px;}
.ec_tbar{box-sizing:border-box; position:relative;  padding:0 60px 13px 5px; border-bottom:2px solid #2348aa; box-sizing:border-box; display:block;}
.ec_tbar .text_node{font-size:27px; color:#2348aa; line-height:1; font-weight:500; letter-spacing:-0.5px;}
.ec_tbar .ico{width:18px; height:18px; border-right:2px solid #2348aa; border-bottom:2px solid #2348aa; position:absolute;top:-5px;right:19px; transform:rotate(45deg)}
.ec_tbar.active .ico{transform:rotate(225deg); top:20px;}
.ec_tcont{display:none; position:relative;overflow:hidden;overflow-y:auto; border:1px solid #2348aa; height:150px; border-top:0;}
.ec_tcont_inner{padding:23px;}
.indent_bullet_list{}
.indent_bullet_list > li{display:flex;gap:10px;font-size:25px; font-weight:400; line-height:1.4; letter-spacing:-0.5px; margin-bottom:10px;}
.indent_bullet_list > li:last-of-type{margin-bottom:0;}
.indent_bullet{display:inline-block; white-space:nowrap;}
.indent_liquid{flex:1;}

.ec_props_list{display:flex; justify-content: center; align-items:center; gap:10px 35px;}
.ec_props_list > li{}
.props_item{display:flex; align-items:center; gap:13px;}


input.props_form_dom{display:inline-block;width:28px; height:28px; background:#fff;border:3px solid #fff; border-radius:100%;outline:1px solid rgb(160, 160, 160); border-radius:100%; appearance: none;}
input.props_form_dom:checked{background-color:#0046ff}
input.props_form_dom:checked + .props_form_label{}
.props_form_label{font-size:30px; color:#565656; font-weight:500; display:inline-block; position:relative;top:2px; cursor: pointer;}
.ec_form_note{text-align:center; font-size:22px; font-weight:400; line-height:1.4; letter-spacing:-1px; color:#a0a0a0; margin:50px -30px 0; }
.ec_submit_wrap{margin-top:50px;}
.btn_submit_box{display:flex; height:100px; justify-content: center; align-items: center; background:#002472; border-radius:1000px;}
.btn_submit_box .text_node{color:#fff; font-weight:700; display:inline-block; font-size:52px; position:relative;top:5px;}

@media (max-width:749px){
  
}