@charset "utf-8";

/* CSS Document */
html:not(.touchmode) ::-webkit-scrollbar {
  width: 10px;
}
html:not(.touchmode) ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
html:not(.touchmode) ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px transparent;
}
/* event */
.page_body{}
.page_wrap{min-width:280px;}
.event_contents_wrap{max-width:750px; margin:0 auto; background:#0046ff; color:#000;}
.event_visual_group{}
.event_visual_group img{vertical-align:top;}
.event_cont_group{padding:33px 23px;}
.event_cont_inner{background:#fff;border-radius:25px; padding:60px 40px 40px;}
.ec_copy_wrap{ text-align:center;white-space:nowrap;}
.ec_copy_main{font-size:50px; letter-spacing: -1px; font-weight:700; color:#0046ff;}
.ec_copy_sub{margin-top:30px; line-height:1.2; font-size:45px; letter-spacing: -1px; font-weight: 500;}
.ec_copy_else{margin-top:30px; line-height:1.2; font-size:35px; letter-spacing: -1px; font-weight: 300;}
.ec_form_tb_wrap{margin-top:55px; position:relative; z-index:5;}
.ec_form_tb{width:100%;table-layout: auto;}
.ec_form_tb th,
.ec_form_tb td{padding-bottom:20px; text-align:left;}
.ec_form_tb th{width:1px;padding-right:25px;}
.ec_form_tb tr:last-of-type th,
.ec_form_tb tr:last-of-type td{padding-bottom:0;}
.ec_form_key{font-size:25px;  letter-spacing: -1px; font-weight:500; white-space:nowrap; position:relative; top:2px; display:inline-block;}
input.event_input{height:50px;box-sizing:border-box;width:100%;padding:5px 20px 0;font-size:25px; color:#000; appearance: none; border:1px solid #414141;}
.inline_linked_list{display:flex;gap:2px;}
.inline_linked_list input.event_input{}
.inline_linked_list .combo_box{}
.inline_linked_list > li{flex:1;}
.combo_box{position:relative;}
.combo_target{height:50px;box-sizing:border-box;width:100%;padding:0 55px 0 20px; line-height:52px; font-size:25px; color:#000; background:#fff url("../images/ico_select.png") no-repeat 100% 50%/auto 100%; border:1px solid #414141; display:block;}
.combo_option_wrap{display:none;position:absolute;top:calc(100% - 1px);left:0;width:100%; border:1px solid #414141; box-sizing:border-box;background:#fff;}
.combo_option_list{}
.combo_option_list > li{}
.combo_option{display:block;font-size:25px; color:#000;padding:10px 20px 5px; line-height:1.4;}
.combo_option:hover{background:rgba(0,0,0,0.05)}
.combo_box.active .combo_option_wrap{display:block;}

.ec_terms_wrap{margin-top:80px;}
.ec_terms_block{margin-bottom:35px;}
.ec_terms_block:last-of-type{margin-bottom:0;}
.ec_terms_title{margin-bottom:20px; font-size:25px; color:#000; letter-spacing:-1px;}
.ec_terms_title.align2{text-align:center;}
.ec_terms_contents{}
.ec_toggle_wrap{}
.ec_toggle_list{}
.ec_toggle_list > li{}
.ec_toggle_list > li:last-of-type{}
.ec_toggle_list > li.active{}
.ec_toggle_list > li.active .ec_tcont{display:block;}
.ec_toggle_list > li.active .ec_tbar .ico{transform:rotate(225deg); top:20px;}
.ec_tbar{min-height:50px;box-sizing:border-box; position:relative;  padding:10px 60px 10px 45px; border:1px solid #414141; box-sizing:border-box; display:flex; align-items:center;}
.ec_tbar:before{display:block;content:'';width:8px;height:8px;border-radius:100%; background:#000; position:absolute;top:20px;left:24px;}
.ec_tbar .text_node{font-size:25px; color:#000; line-height:1;position:relative;top:2px;}
.ec_tbar .ico{width:18px; height:18px; border-right:1px solid #000; border-bottom:1px solid #000; position:absolute;top:8px;right:22px; transform:rotate(45deg)}
.ec_tbar.active .ico{transform:rotate(225deg); top:20px;}
.ec_tcont{display:none; position:relative;overflow:hidden;overflow-y:auto; border:1px solid #414141; height:150px; border-top:0;}
.ec_tcont_inner{padding:23px;}
.indent_bullet_list{}
.indent_bullet_list > li{display:flex;gap:10px;font-size:20px; font-weight:350; line-height:1.4; letter-spacing:-0.5px; margin-bottom:10px;}
.indent_bullet_list > li:last-of-type{margin-bottom:0;}
.indent_bullet{display:inline-block; white-space:nowrap;}
.indent_liquid{flex:1;}

.ec_props_list{display:flex; justify-content: center; align-items:center; gap:20px 40px;}
.ec_props_list > li{}
.props_item{display:flex; align-items:center; gap:10px;}
input.props_form_dom{display:inline-block;box-sizing:content-box;width:24px;height:24px; border-radius:100%; appearance: none; border:2px solid #000;background:#fff;}
input.props_form_dom:checked{background:#0046ff; border-color:#0046ff;}
input.props_form_dom:checked + .props_form_label{}
.props_form_label{font-size:25px; color:#000;display:inline-block; position:relative;top:2px; cursor: pointer;}
.ec_form_note{text-align:center; font-size:20px; font-weight:350; line-height:1.4; letter-spacing:-0.5px; margin-top:30px;}
.ec_submit_wrap{margin-top:40px;}
.btn_submit_box{display:flex; height:85px; justify-content: center; align-items: center; background:#0046ff; border-radius:15px;}
.btn_submit_box .text_node{color:#fff; font-weight:700; display:inline-block; font-size:50px; position:relative;top:5px;}

@media (max-width:749px){
  /* .event_cont_group{padding:33px 23px;}
  .event_cont_inner{border-radius:25px; padding:60px 40px 40px;}
  .ec_copy_main{font-size:50px;}
  .ec_copy_sub{margin-top:30px; font-size:45px;}
  .ec_copy_else{margin-top:30px; font-size:35px;}
  .ec_form_tb_wrap{margin-top:55px;}
  .ec_form_tb th,
  .ec_form_tb td{padding-bottom:20px;}
  .ec_form_tb th{padding-right:25px;}
  .ec_form_key{font-size:25px; top:2px;}
  input.event_input{height:50px;padding:5px 20px 0;font-size:25px;}
  .combo_target{height:50px;padding:0 55px 0 20px; line-height:52px; font-size:25px;}
  .combo_option{font-size:25px;padding:10px 20px 5px;}
  .ec_terms_wrap{margin-top:80px;}
  .ec_terms_block{margin-bottom:35px;}
  .ec_terms_title{margin-bottom:20px; font-size:25px;}
  .ec_toggle_list > li.active .ec_tbar .ico{top:20px;}
  .ec_tbar{min-height:50px;padding:10px 60px 10px 45px;}
  .ec_tbar:before{width:8px;height:8px;top:20px;left:24px;}
  .ec_tbar .text_node{font-size:25px;top:2px;}
  .ec_tbar .ico{width:18px; height:18px;top:8px;right:22px;}
  .ec_tbar.active .ico{top:20px;}
  .ec_tcont{height:150px;}
  .ec_tcont_inner{padding:23px;}
  .indent_bullet_list > li{gap:10px;font-size:20px;margin-bottom:10px;}
  .ec_props_list{gap:20px 40px;}
  .props_item{gap:10px;}
  input.props_form_dom{width:24px;height:24px;border-width:2px;}
  .props_form_label{font-size:25px;top:2px;}
  .ec_form_note{font-size:20px;margin-top:30px;}
  .ec_submit_wrap{margin-top:40px;}
  .btn_submit_box{height:85px;border-radius:15px;}
  .btn_submit_box .text_node{font-size:50px;top:5px;} */
  .event_cont_group { padding: 4.4vw 3.07vw; }
  .event_cont_inner { border-radius: 3.33vw; padding: 8vw 5.33vw 5.33vw; }
  .ec_copy_main { font-size: 6.66vw; }
  .ec_copy_sub { margin-top: 4vw; font-size: 6vw; }
  .ec_copy_else { margin-top: 4vw; font-size: 4.66vw; }
  .ec_form_tb_wrap { margin-top: 7.33vw; }
  .ec_form_tb th,
  .ec_form_tb td { padding-bottom: 2.66vw; }
  .ec_form_tb th { padding-right: 3.33vw; }
  .ec_form_key { font-size: 3.33vw; top: 0.26vw; }
  input.event_input { height: 6.66vw; padding: 0.66vw 2.66vw 0; font-size: 3.33vw; }
  .combo_target { height: 6.66vw; padding: 0 7.33vw 0 2.66vw; line-height: 6.93vw; font-size: 3.33vw; }
  .combo_option { font-size: 3.33vw; padding: 1.33vw 2.66vw 0.66vw; }
  .ec_terms_wrap { margin-top: 10.66vw; }
  .ec_terms_block { margin-bottom: 4.66vw; }
  .ec_terms_title { margin-bottom: 2.66vw; font-size: 3.33vw; }
  .ec_toggle_list > li.active .ec_tbar .ico { top: 2.66vw; }
  .ec_tbar { min-height: 6.66vw; padding: 1.33vw 8vw 1.33vw 6vw; }
  .ec_tbar:before { width: 1.06vw; height: 1.06vw; top: 2.66vw; left: 3.2vw; }
  .ec_tbar .text_node { font-size: 3.33vw; top: 0.26vw; }
  .ec_tbar .ico { width: 2.4vw; height: 2.4vw; top: 1.06vw; right: 2.93vw; }
  .ec_tbar.active .ico { top: 2.66vw; }
  .ec_tcont { height: 20vw; }
  .ec_tcont_inner { padding: 3.06vw; }
  .indent_bullet_list > li { gap: 1.33vw; font-size: 2.66vw; margin-bottom: 1.33vw; }
  .ec_props_list { gap: 2.66vw 5.33vw; }
  .props_item { gap: 1.33vw; }
  input.props_form_dom { width: 3.2vw; height: 3.2vw; border-width: 0.26vw; }
  .props_form_label { font-size: 3.33vw; top: 0.26vw; }
  .ec_form_note { font-size: 2.66vw; margin-top: 4vw; }
  .ec_submit_wrap { margin-top: 5.33vw; }
  .btn_submit_box { height: 11.33vw; border-radius: 2vw; }
  .btn_submit_box .text_node { font-size: 6.66vw; top: 0.3vw; }
}

/* popup */
.btn_guide_box{display:inline-block;padding:10px 20px; border:1px solid #ddd; color:#000;font-size:16px;}
.popup_wrap , .modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;}
.popup_wrap.active,.modal_wrap.active{display:flex;}
.popup_wrap.active.motion_end{}
.popup_wrap.active.motion_end .popup_box_tb_wrap{transform: translateY(0px);opacity:1;}
.popup_wrap.active.motion_end .popup_item{opacity:1;}
.popup_wrap.active.motion_end .bg_dim,
.modal_wrap.active.motion_end .bg_dim{opacity:.2;}
.popup_item.modal_type{max-width:540px;}
.popup_wrap.modal_type .popup_title_row{}
.popup_wrap.modal_type .popup_contents_row{}

.popup_box_tb_wrap{position:absolute;top:0;left:0;top:0;left:0;width:100%;height:100%;overflow-y:auto; transition:.5s;transform: translateY(-100px);opacity:0;}
.popup_box_tb{width:100%;height:100%;table-layout: fixed;display:table;}
.popup_box_td{display:table-cell;vertical-align: middle;padding:30px 0;}

.popup_wrap .bg_dim{display:block;width:750px;height:100%;position:fixed;top:0;left:50%;z-index:0;background:#000;opacity:0;transition:opacity .5s;transform: translateX(-50%);}
.popup_wrap .bg_dim.no_transition{transition:0s;opacity:.6;transform:none;}

.popup_item{
    box-sizing: border-box;z-index:20; max-width:700px;margin:62px auto; max-height:calc(100% - 124px); background:#fff;  position:relative; display:flex; flex-direction: column;
    width:100%;opacity:0;transition:.4s;
}
.popup_item.no_transition{transition:0s;opacity:1;transform:none;}
.popup_title_row{padding:40px 100px 40px 40px;}
.popup_title{font-size:32px;font-weight:500;color:#222222;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:16px;color:#333333;padding:0 40px 40px;}

.popup_item .popup_contents_row + .popup_btn_row.btn_bottom_wrap{margin-top:0}

.popup_item .popup_btn_row.btn_bottom_wrap{margin:40px auto; max-width:70%; width:100%; justify-content: center;}
.btn_popup_close{display:inline-block;width:60px;height:60px;position:absolute;top:25px;right:25px;font-size:0;line-height:0;}
.btn_popup_close:before,
.btn_popup_close:after{width:35px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#332d29; margin:-1px 0 0 -17px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_popup_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_popup_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

.popup_card_inner{}
.deco_message_wrap{text-align: center;padding:20px 0 0 0;}
.popup_product2_row{text-align: center;}
.popup_product2_row img{vertical-align: top;}
.popup_coment_row{text-align: center;margin-top:5px;}
.coment_para{color:#373737; font-weight:500; font-size:28px; line-height:1.3; font-family: 'GmarketSans'; letter-spacing: -2px;}
.popup_message_sub_para{font-size:30px; font-weight:500; color :#373737;  font-family: 'GmarketSans'; letter-spacing: -1px;text-align: center; margin-top:10px;}

.popup_multi_product_row{text-align: center;}
.popup_multi_product_row img{vertical-align: top;}
.popup_sub_message_group{text-align: center;padding:25px 25px 0}
.ps_message{font-size:26px; color:#373737;letter-spacing: -1px; line-height:1.3; margin-bottom:15px;}
.ps_message:last-of-type{ margin-bottom:0;}
.ps_message.emp{font-size:28px; font-weight:500;}
.modal_wrap.active.motion_end .modal_box_item{
  opacity: 1;
  transform: translateY(0);
}

.modal_box_item {
 box-sizing: border-box; width: 100%; position:relative;overflow:hidden; max-width:670px;
 z-index: 20; background: #fff; text-align: center; box-sizing: border-box;
  opacity: 0; transition: 0.4s opacity;
 margin: 0 auto;max-height: 100%; position: relative;
 box-shadow: 7.053px 9.708px 17px 0px rgba(105, 49, 0, 0.35);
 border-radius: 40px;  transition:.5s;transform: translateY(-100px);opacity:0;
}


.modal_box_tb {
  display: table;width: 100%;height: 100%;
  table-layout: fixed;max-width: 750px;margin: 0 auto;
}

.modal_box_td {
  display: table-cell;vertical-align: middle;padding: 40px;
}

.modal_box_message_row{padding:75px 80px 75px;}
.modal_box_message{color:#4d4d4d; font-size:42px; font-weight: 700; line-height:1.4; word-break: keep-all;}
.modal_box_message .sub_text{font-size:14px; font-weight:14px; font-weight:400}


.btn_modal_submit_wrap{display:flex; background:#293feb;}
.btn_modal_submit{flex:1;display:flex; justify-content: center; align-items: center; min-height:112px; box-sizing: border-box; padding:10px;position:relative;}
.btn_modal_submit:after{display:block;content:'';height:42px;width:1px; background:#e5e5e5; position: absolute;top:50%;right:0;transform: translateY(-50%);}
.btn_modal_submit_text{color:#fff; font-size:42px;  font-family: 'OneShinhan';}
.btn_modal_submit:last-of-type:after{display:none;}

.btn_popup_close{position:absolute;top:28px;right:28px;width:36px;height:36px;}
.btn_popup_close:before,
.btn_popup_close:after{width:2px;height:40px;background:#4d4d4d;display:block;content:'';position:absolute;top:50%;left:50%;margin:-20px 0 0 -1px;}
.btn_popup_close:before{transform: rotate(45deg);}
.btn_popup_close:after{transform: rotate(-45deg);}

.btn_modal_close{position:absolute;top:28px;right:28px;width:36px;height:36px;}
.btn_modal_close:before,
.btn_modal_close:after{width:2px;height:40px;background:#4d4d4d;display:block;content:'';position:absolute;top:50%;left:50%;margin:-20px 0 0 -1px;}
.btn_modal_close:before{transform: rotate(45deg);}
.btn_modal_close:after{transform: rotate(-45deg);}

.popup_bottom_btn_row{margin-top:30px;}
.btn_popup_bottom{display:flex; justify-content: center; align-items: center; background:#293feb; min-height:114px; text-align: center; box-sizing: border-box;padding:15px;}
.btn_popup_bottom_text{color:#fff; font-size:42px;font-family: 'OneShinhan';}

@media (max-width:750px){
    
    .popup_item{
        max-width:100%;
    }
    .popup_item.full_type{
        margin:0; max-height:100%; height:100%;
    }
    .popup_wrap .bg_dim{left:0 !important;width:100%;transform: translateX(0) !important;}
    .popup_title_row{padding:15px 70px 15px 20px;}
    .popup_title{font-size:20px;}
    .popup_contents_row{font-size:14px;padding:10px 20px 30px;}
    .popup_item .popup_btn_row.btn_bottom_wrap{margin:20px; width:auto; max-width: inherit;}
    .btn_popup_close{width:50px;height:50px;top:0;right:0;}
    .btn_popup_close:before,
    .btn_popup_close:after{width:20px;height:2px;margin:-1px 0 0 -10px;}
    .popup_modal_box{padding:50px 20px 30px;}
    .popup_modal_para{font-size:16px;}
    .popup_cont_message{font-size:16px;}
    .popup_cont_emp{font-size:14px;}
    .popup_cont_sub{font-size:14px;}
    .cont_emp_sub{font-size:12px;}

    .popup_box_td{padding:20px 0;}


        
    .modal_box_item {
      margin: 0 auto;
      border-radius: 20px;  
    }
    
    
    .modal_box_td {
      padding: 20px;
    }
    
    .modal_box_message_row{padding:30px 40px 28px;}
    .modal_box_message{font-size:21px;}
    
    
    .btn_modal_submit{min-height:56px;}
    .btn_modal_submit:after{height:18px;}
    .btn_modal_submit_text{font-size:18px;}

      
  .btn_popup_close{top:12px;right:12px;width:20px;height:20px;}
  .btn_popup_close:before,
  .btn_popup_close:after{width:2px;height:20px;margin:-10px 0 0 -1px;}

      
  .btn_modal_close{top:12px;right:12px;width:20px;height:20px;}
  .btn_modal_close:before,
  .btn_modal_close:after{width:2px;height:20px;margin:-10px 0 0 -1px;}
 

}
